{% extends '_base.html' %}

{% block title %}
Comment Replies
{% endblock %}
{% block content %}
    <h1>main comment</h1>
    <h2>{{ comment.author.username }}</h2>
    <p>{{ comment.text }}</p><br>
    <p>==================================================================</p>
    <br><h1>replies</h1>
    {% for child in comment.childes.all %}
        <br>
        <h3>{{ child.author.username }}</h3>
        <p>{{ child.text }}</p>
        <p>------------------------------------------------------------------------</p>
    {% endfor %}


{% endblock %}