{% extends '_base.html' %}


{% load static %}
{% load i18n %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}


{% block title %}
    {{ manhwa.title }} {% trans 'detail' %}
{% endblock %}


{% block content %}
    <div class="body">
        <h1>{% trans 'english title' %} : {{ manhwa.en_title }}</h1>
        <h1>{% trans 'persian title' %} : {{ manhwa.fa_title }}</h1><br>
        <p>{% trans 'views count' %} : {{ manhwa.views_count }}</p>
        <span>{% trans 'genres' %} :
        {% for genre in manhwa.genres.all %}
            {{ genre.title }},
        {% endfor %}

        </span><br><br>
        <p>{% trans 'summary' %} : {{ manhwa.summary }}</p>
        <br><br>
        {% for episode in manhwa.episodes.all %}
            <h3>{% trans 'Episodes' %} : {{ episode.number }} / {{ episode.datetime_created }}</h3>
        {% endfor %}<br> <br><br>
        {% for comment in manhwa.comments.all %}
            <h1>user_id : {{ comment.author_id }}</h1>
            <h3>{% trans 'user' %} : {{ comment.author.username }}</h3>
            <h4>{{ comment.text }}</h4>
            <h6>{{ comment.datetime_modified }}</h6><br>
        {% endfor %}

    </div>



{% endblock %}