{% extends '_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}


{% block title %}
Fanta Webtoon
{% endblock %}



{% block content %}
{#    <div class="header">#}
{#        <h1>#}
{#            به فانتا مانهوا خوش آمدید!#}
{#        </h1>#}
{#        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>#}
{#    </div>#}

    <div class="body">
        <div class="wrapper">
            <div class="wrapper-header">
                <h3>محبوب ترین ها</h3>
                <a class="btn" href="#">نمایش همه</a>
            </div>
            <div class="wrapper-body">
               {% for manhwa in manhwas %}
                    <a href="{% url 'manhwa_detail' manhwa.id %}" class="manhwa-box">
                        <img src="{{ manhwa.cover.url }}" alt="">
                        <div class="box-blur">
                            <span class="manhwa-name">{{ manhwa.en_title }}</span>
                        </div>
                        <div class="manhwa-rating">{{ manhwa.avg_rating|floatformat:1 }}</div>
                        <div class="manhwa-status">{{ manhwa.last_upload }}</div>
                    </a>
                {% endfor %}

            </div>
        </div>
        <div class="wrapper">
            <div class="wrapper-header">
                <h3>محبوب ترین ها</h3>
                <a class="btn" href="#">نمایش همه</a>
            </div>
            <div class="wrapper-body">
               {% for manhwa in manhwas %}
                <a href="#" class="manhwa-box">
                    <img src="{{ manhwa.cover.url }}" alt="">
                    <div class="box-blur">
                        <span class="manhwa-name">{{ manhwa.en_title }}</span>
                    </div>

                    <div class="manhwa-rating">{{ manhwa.avg_rating|floatformat:1 }}</div>
                    <div class="manhwa-status">{{ manhwa.last_update }}</div>
                </a>
            {% endfor %}

            </div>
        </div>
        <div class="wrapper">
            <div class="wrapper-header">
                <h3>محبوب ترین ها</h3>
                <a class="btn" href="#">نمایش همه</a>
            </div>
            <div class="wrapper-body">
               {% for manhwa in manhwas %}
                <a href="#" class="manhwa-box">
                    <img src="{{ manhwa.cover.url }}" alt="">
                    <div class="box-blur">
                        <span class="manhwa-name">{{ manhwa.en_title }}</span>
                    </div>

                    <div class="manhwa-rating">{{ manhwa.avg_rating|floatformat:1 }}</div>
                    <div class="manhwa-status">{{ manhwa.last_update }}</div>
                </a>
            {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}