{% extends '_base.html' %}


{% load static %}
{% load i18n %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}


{% block title %}

{% endblock %}



{% block content %}
{#    <div class="header">#}
{#        <h1>#}
{#            به فانتا مانهوا خوش آمدید!#}
{#        </h1>#}
{#        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>#}
{#    </div>#}

    <div class="body">
        <div class="wrapper">
            <div class="wrapper-header">
                <h3>{% trans 'Most Popular' %}</h3>
                <a class="btn" href="#">{% trans 'Show All' %}</a>
            </div>
            <div class="wrapper-body">
               {% for manhwa in manhwas %}
                    <a href="{% url 'manhwa_detail' manhwa.id %}" class="manhwa-box">
                        <img src="{{ manhwa.cover.url }}" alt="">
                        <div class="box-blur">
                            <span class="manhwa-name">{{ manhwa.en_title }}</span>
                        </div>
                        <div class="manhwa-rating">
                            <svg width="13px" height="13px" viewBox="0 0 24.00 24.00" id="star_filled" data-name="star filled" xmlns="http://www.w3.org/2000/svg" fill="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect id="Rectangle_4" data-name="Rectangle 4" width="24" height="24" fill="none"></rect> <path id="Star" d="M10,15,4.122,18.09l1.123-6.545L.489,6.91l6.572-.955L10,0l2.939,5.955,6.572.955-4.755,4.635,1.123,6.545Z" transform="translate(2 3)" stroke="#ffffff" stroke-miterlimit="10" stroke-width="1.5"></path> </g></svg>
                            <span>{{ manhwa.avg_rating|floatformat:1 }}</span>
                        </div>
                        <div class="manhwa-status">{{ manhwa.last_upload }}</div>
                    </a>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}